:root {
  --background: #121414;
  --text-black: #313232;
  --text-gray: #828282;

  --padding-block: 12px;
  --padding-inline: 24px;

  --blue: #0074f9;
  --blue-gray: #3d9df8;
  --blue-hover-bg: #e8f5fe;

  font-family: system-ui, —apple-system, Segoe UI, Rototo, Emoji, Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
