.header {
  position: sticky;
  top: 0;
  z-index: 10;

  background-color: var(--background);
  color: #fff;
  padding: var(--padding-block) var(--padding-inline);
  justify-content: space-between;
  font-size: 13px;
}

.back {
  display: flex;
  align-items: center;
  color: var(--blue-gray);
  cursor: pointer;
  transition: filter 0.2s;

  svg {
    width: 13px;
    height: 13px;
  }

  &:hover {
    filter: brightness(1.2);
  }
}

.title {
  margin: 0;
  margin-block-start: 8px;
}
