.wrap {
  --btn-border-color: #afcbe0;
  --btn-hover-color: #e9e9ea;
  --btn-active-color: #cbcbcc;

  font-size: 13px;
  padding: 12px var(--padding-inline);
  display: grid;
  grid-template-columns: 56px 1fr;
  column-gap: 8px;
  cursor: pointer;
  position: relative;

  &:hover {
    background: var(--blue-hover-bg);
  }

  .link {
    position: absolute;
    inset: 0;
  }
}

.logo {
  width: 56px;
  height: 56px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  .info {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    column-gap: 4px;
    align-items: center;
  }

  .name {
    all: unset;
    font-size: 15px;
    font-weight: 600;
  }

  .install {
    width: 64px;
    height: 22px;
    border-radius: 4px;
    border: 1px solid #afcbe0 !important;
    line-height: 1 !important;
    padding-block: 4px !important;
    font-size: 13px !important;
    color: var(--text-black) !important;
    font-weight: 400;

    &:hover {
      background: #e9e9ea;
    }

    &:active {
      background: #cbcbcc;
    }
  }

  .more {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;

    &:hover {
      background: #d5e0ea;
    }

    &:active {
      background: #b9c3cb;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.status {
  padding-block-start: 4px;

  .status_text {
    margin: 0;
    font-size: 12px;
    color: var(--text-gray);
  }

  .description {
    all: unset;
    font-size: 12px;
    color: var(--text-gray);
  }
}

// progress
.progress {
  border-radius: 999px;
  overflow: hidden !important;
  background-color: #c7e0ff !important;

  span {
    background-color: var(--blue) !important;
  }
}

// menu
.menu_item {
  font-size: 13px !important;
  min-width: 160px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .menu_link {
    all: unset;
    cursor: pointer;
    flex: 1;
  }
}
