@font-face {
  font-family: Emoji;
  src: local('Apple Color Emojiji'), local('Segoe UI Emoji'),
    local('Segoe UI Symbol'), local('Noto Color Emoji');
  unicode-range: U+1F000-1F644, U+203C-3299;
}

:root {
  --background: #121414;
  --text-black: #313232;
  --text-gray: #828282;

  --padding-block: 12px;
  --padding-inline: 24px;

  --blue: #0074f9;
  --blue-gray: #3d9df8;
  --blue-hover-bg: #e8f5fe;

  font-family: system-ui, —apple-system, Segoe UI, Rototo, Emoji, Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.grid-layout {
  display: grid;
  grid-template-columns:
    [full-start] var(--padding-inline)
    [content-start] 1fr
    [content-end] var(--padding-inline)
    [full-end];
}

.grid-layout > * {
  grid-column: content;
}

.full-bleed {
  grid-column: full;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
}
