.header {
  padding-inline: 8px;
  display: flex;
  align-items: center;
  height: 32px;
  color: var(--text-gray);
  font-size: 13px;
  cursor: pointer;

  svg {
    width: 13px;
    height: 13px;
    margin-inline-end: 4px;
  }
}
